{% include "header.html" %}


      <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Data validation
                </div>
                <h2 class="page-title">
                  Cleansing rules
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                    Create new rule
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-fluid">
            <div class="row row-deck row-cards">
			
			{% if error_message %}
			<div class="col-12">
				<div class="alert alert-danger" role="alert">
					<h4 class="alert-title">Error!</h4>
					<div class="text-muted">{{ error_message }}</div>
				</div>
			</div>
			{% endif %}
			
			{% if delete and not error_message %}
			<div class="col-12">
			<div class="alert alert-success" role="alert">
			  <div class="d-flex">
				<div>
				  <h4 class="alert-title">Success!</h4>
				  <div class="text-muted">Cleansing rule deleted</div>
				</div>
			  </div>
			</div>
			</div>
			{% endif %}
			
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Cleansing rules</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          <th></th>
						  <th>Go live</th>
                          <th>Entity</th>
                          <th>Field</th>
                          <th>Type</th>
						  <th>Description</th>
                          <th>Rule</th>
						  <th>Criterium</th>
						  <th>Active</th>
						  <th></th>
                        </tr>
                      </thead>
                      <tbody>
					  {% for c in cleansing_rules %}
                        <tr>
						<td width="5%">
							<a href="{{ url_for('cleansing_rules', delete=c.id) }}" class="btn d-none d-sm-inline-block">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								   <desc>Download more icon variants from https://tabler-icons.io/i/trash</desc>
								   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								   <line x1="4" y1="7" x2="20" y2="7"></line>
								   <line x1="10" y1="11" x2="10" y2="17"></line>
								   <line x1="14" y1="11" x2="14" y2="17"></line>
								   <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
								   <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
								</svg></a>
                          </td>
                          <td>{{ c.entity_field.entity.golive_id }}</td>
                          <td>{{ c.entity_field.entity.entity }}</td>
						  <td>{{ c.entity_field.field }}</td>
						  <td>{{ c.type }}</td>
						  <td>{{ c.description if c.description}}</td>
						  <td>{{ c.rule }}</td>
						  <td>{{ c.criteria }}</td>
						  <td>{{ c.active if c.active }}</td>
						  <td></td>
					
                        </tr>
						{% endfor %}

                      </tbody>
                    </table>
                  </div>
				  
				  <div class="card-footer">
				  <a href="https://docs.python-cerberus.org/en/stable/validation-rules.html" target="_new">Documentation</a>
				  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        
	<div class="modal modal-blur fade" id="modal-add" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New cleansing rule</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
		 
        </div>
      </div>
    </div>
	

{% include "footer.html" %}