{% include "header.html" %}



      <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Admin
                </div>
                <h2 class="page-title">
                  Users
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                    Add user
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-fluid">
            <div class="row row-deck row-cards">
			
			{% if user_exists == True %}
				<div class="col-12">
					<div class="alert alert-danger" role="alert">
						<h4 class="alert-title">Error</h4>
						<div class="text-muted">A user with that e-mail address already exists</div>
					</div>
				</div>
			{% endif %}
						
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Users</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          <th>User ID</th>
                          <th>E-mail</th>
                          <th>First name</th>
						  <th>Last name</th>
						  <th>Customer</th>
						  <th>Active</th>
						  <th>Roles</th>
                        </tr>
                      </thead>
                      <tbody>
					  {% for u in users %}
                        <tr>
                          <td>{{ u.id }}</td>
                          <td>{{ u.email }}</td>
						  <td>{{ u.first_name }}</td>
						  <td>{{ u.last_name }}</td>
						  <td>{{ u.customer }}</td>
						  <td>{{ u.active }}</td>
						  <td>
							{% for r in u.roles %}
								{{r.name}} 
							{% endfor %}
						  </td>
                          
                        </tr>
						{% endfor %}

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        
		<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
			  <div class="modal-body">
			  <form method="post">
			  {{ form.csrf_token }}
				<div class="mb-3">
				  <label class="form-label">{{ form.first_name	.label }}</label>
				  {{ form.first_name(class_="form-control") }}
				</div>
				<div class="mb-3">
				  <label class="form-label">{{ form.last_name.label }}</label>
				  {{ form.last_name(class_="form-control") }}
				</div>
				<div class="mb-3">
				  <label class="form-label">{{ form.email.label }}</label>
				  {{ form.email(class_="form-control") }}
				</div>
				<div class="mb-3">
				  <label class="form-label">{{ form.customer.label }}</label>
				  {{ form.customer(class_="form-select") }}
				</div>
				
			  </div>
			  <div class="modal-body">
				<div class="row">
				  <div class="col-lg-6">
					<div class="mb-3">
					  <label class="form-label">{{ form.password.label }}</label>
					  {{ form.password(class_="form-control") }}
					</div>
					<div class="mb-3">
					  <label class="form-label">{{ form.confirm.label }}</label>
					  {{ form.confirm(class_="form-control") }}
					</div>
				  </div>
				</div>
			  </div>
			  <div class="card-footer text-end">
			  <div class="d-flex">
				<button type="submit" class="btn btn-primary ms-auto">Add</button>
			  </div>
		  </div>
		  </form>
        </div>
      </div>
    </div>

{% include "footer.html" %}