{% include "header.html" %}


      <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Data transformation
                </div>
                <h2 class="page-title">
                  Entity fields {% if entity %} - {{ entity.entity }} {% endif %}
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                    Add field
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-fluid">
            <div class="row row-deck row-cards">
			
			{% if form.errors %}
			<div class="col-12">
				<div class="alert alert-danger" role="alert">
					<h4 class="alert-title">Error!</h4>
					<div class="text-muted">{{ form.errors }}</div>
				</div>
			</div>
			{% endif %}
			
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Fields</h3>
                  </div>
				  
				  {% if entity %}
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          <th>Field</th>
                          <th>Type</th>
                          <th>Precision</th>
						  <th>Allow empty</th>
						  <th>Mapping type</th>
						  <th>Default value</th>
						  <th>Parameter</th>
						  <th>Source field</th>
						  <th>Translation key</th>
						  <th>Number Sequence</th>
						  <th>Regex validation</th>
						  <th></th>
                        </tr>
                      </thead>
                      <tbody>
					  {% for f in fields %}
                        <tr>
                          <td>{{ f.field }}</td>
                          <td>{{ f.type }}</td>
						  <td>{{ f.precision if f.precision }}</td>
						  <td>{{ f.allow_null }}</td>
						  <td>{{ f.mapping_type }}</td>
						  <td>{{ f.default_value if f.default_value }}</td>
						  <td>{{ f.parameter if f.parameter }}</td>
						  <td>{{ f.source_field if f.source_field }}</td>
						  <td>{{ f.translation_key if f.translation_key }}</td>
						  <td>{{ f.number_sequence.name if f.number_sequence }}</td>
						  <td>{{ f.regex_validation if f.regex_validation }}</td>
                          <td class="text-end">
							<a href="#" class="btn d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
								<!-- Download SVG icon from http://tabler-icons.io/i/edit -->
								<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" /><path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" /><line x1="16" y1="5" x2="19" y2="8" /></svg>
								Edit
							</a>
                          </td>
                        </tr>
						{% endfor %}

                      </tbody>
                    </table>
                  </div>
				  {% else %}
				  <div class="card-body">
					Entity with ID {{ entity_id }} not found
				  </div>
				  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
        
		<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New field</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
		  
		  
		  
          <form method="post">
		 <div class="modal-body">
		  {{ form.csrf_token }}
			<div class="col-lg-12">
				<div class="mb-3">
					<label class="form-label">{{ form.field.label }}</label>
					{{ form.field(class_="form-control", value=fields.field) }}
				</div>
			</div>
			<div class="col-lg-12">
				<div class="mb-3">
				  <label class="form-label">{{ form.description.label }}</label>
				  {{ form.description(class_="form-control", value=fields.field) }}
				</div>
			</div>
			<div class="col-lg-6">
				<div class="mb-3">
				  <label class="form-label">{{ form.type.label }}</label>
				  {{ form.type(class_="form-select") }}
				</div>
			</div>
			<div class="col-lg-6">
				<div class="mb-3">
				  <label class="form-label">{{ form.allow_null.label }}</label>
				  {{ form.allow_null(class_="form-check-input") }}
				</div>
			</div>
          </div>
		  <div class="modal-body">
            <div class="row">
				<div class="col-lg-6">
					<div class="mb-3">
					  <label class="form-label">{{ form.mapping_type.label }}</label>
					  {{ form.mapping_type(class_="form-select") }}
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="mb-3">
					  <label class="form-label">{{ form.default.label }}</label>
					  {{ form.default(class_="form-control") }}
					</div>
				</div>
				<div class="col-lg-6">
					<div class="mb-3">
					  <label class="form-label">{{ form.parameter.label }}</label>
					  {{ form.parameter(class_="form-control") }}
					</div>
				</div>
				<div class="col-lg-6">
					<div class="mb-3">
					  <label class="form-label">{{ form.source_field.label }}</label>
					  {{ form.source_field(class_="form-control") }}
					</div>
				</div>
				<div class="col-lg-6">
					<div class="mb-3">
					  <label class="form-label">{{ form.translation_key.label }}</label>
					  {{ form.translation_key(class_="form-select") }}
					</div>
				</div>
				<div class="col-lg-6">
					<div class="mb-3">
					  <label class="form-label">{{ form.number_sequence.label }}</label>
					  {{ form.number_sequence(class_="form-select") }}
					</div>
				</div>
			</div>
		</div>
			<div class="modal-body">
				<div class="row">
				<div class="col-lg-12">
					<div class="mb-3">
					  <label class="form-label">{{ form.regex_validation.label }}</label>
					  {{ form.regex_validation(class_="form-control") }}
					</div>
				</div>
            </div>
          </div>
		  <div class="card-footer text-end">
			  <div class="d-flex">
				<button type="submit" class="btn btn-primary ms-auto">Save</button>
			  </div>
		  </div>
		  </form>
		  
		  
        </div>
      </div>
    </div>

{% include "footer.html" %}